<%layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Edit Campground</h1>
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="campground[title]" class="form-control" 
                    value="<%=campground.title%>" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="campground[location]" class="form-control"
                    value="<%=campground.location%>" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
        
                <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>    
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" 
                    aria-describedby="price-label" name="campground[price]" value="<%=campground.price%>" required> 
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" id="description" name="campground[description]" class="form-control" required><%=campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Add More Images</label>
                    <div class="form-file custom-file">
                          <input class="form-control custom-file-input" type="file" id="image" name="image" multiple onchange="previewMultiple(event)">
                          <label for="image" class="form-label custom-file-label"></label>
                      </div>
                      <div id="formFile"></div>
                  </div>   
                  <div class="mb-3">
                    <% campground.images.forEach(function(img, i) { %> 
                        <div>
                        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                    </div>
                    <% }) %> 
                  </div>
                <div class="mb-3">
                    <button class="btn btn-info">Upadate Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%=campground._id%>">Back To Campgrounds</a>
        </div>
    </div>